{% extends "base_site.html" %}
{% load static %}

{% block title %} Home {% endblock title %}

{% block main %}

    <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
        <div class="col-lg-9 px-0">
            <h1 class="display-4 fst-italic">"Understanding Bloom’s Taxonomy: Transform Your Teaching."</h1>
            <p class="lead my-3">"Explore the cognitive levels that foster deeper learning."</p>
        </div>
    </div>

    <div class="row featurette mt-3 pt-4">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">What is Bloom’s Taxonomy ?</h2>
            <p class="lead">Bloom's Taxonomy is a framework used to categorize educational goals into different levels of complexity.<br>It was created by Benjamin Bloom in 1956, and the revised version in 2001 by Anderson and Krathwohl uses different terminology and a more dynamic structure. Here’s a breakdown of the revised version:<br>
                <br>
                Like other taxonomies, Bloom’s is hierarchical, meaning that learning at the higher levels is dependent on having attained prerequisite knowledge and skills at lower levels.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{% static "users/img/blooms.jpg" %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
        </div>
    </div>

    <div class="row featurette mt-3 pt-4">
        <div class="col-md-5">
             <img src="{% static "users/img/blooms2.jpg" %}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"></img>
        </div>
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">How Bloom’s works with learning outcomes</h2>
            <p class="lead">Fortunately, there are “verb tables” to help identify which action verbs align with each level in Bloom’s Taxonomy.<br>
                <br>
                You may notice that some of these verbs on the table are associated with multiple Bloom’s Taxonomy levels. These “multilevel-verbs” are actions that could apply to different activities. For example, you could have an outcome that states “At the end of this lesson, students will be able to explain the difference between H2O and OH-.” This would be an understanding level outcome.
            </p>
        </div>
    </div>
    
{% endblock main %}  