{% extends "base.html" %}

{% block title %} Register {% endblock title %}

{% block content %}
    <main class="authenticate">
        <div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
            <div>
                <a class="navbar-brand fs-3 h1" href="{% url "index-view" %}">
                    <i class="bi bi-question-square-fill"></i>
                    QUESTIONS DESK
                </a>

                <div class="mt-3">
                    <h1>Create Account.</h1>
                    <p>Create a student account to view questions.</p>
                </div>
                
                {% include "users/components/alert.html" %}

                <form id="registerForm" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="row">
                            <div class="col">
                                <label for="firstName" class="form-label">First Name</label>
                                <input id="firstName" type="text" class="form-control" name="first_name" required>
                            </div>
                            <div class="col">
                                <label for="lastName" class="form-label">Last Name</label>
                                <input id="lastName" type="text" class="form-control" name="last_name" required>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="institite" class="form-label">Institite</label>
                        <input id="institite" type="text" class="form-control" name="institute" required>
                    </div>
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input id="username" type="text" class="form-control" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">Email</label>
                        <input id="email" type="email" class="form-control" name="email" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input id="password" type="password" class="form-control" name="password" required>
                    </div>
                    <div class="mb-3">
                        <label for="Confirmpassword" class="form-label">Confirm Password</label>
                        <input id="Confirmpassword" type="password" class="form-control" name="confirm_password" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary w-50">REGISTER</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <p>Already have account? <a href="{% url "login-view" %}">Login</a></p>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}

