{% extends template_name %}

{% block title %} {{role}} Profile {% endblock title %}

{% block main %}

    <main id="main" class="main">
        
        <div class="pagetitle">
            <h1>{{role}} Profile</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url role|lower|add:"-index-view" %}">Home</a></li>
                    <li class="breadcrumb-item active">{{role}} Profile</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section profile">
            <div class="row justify-content-center">
                <div class="col-xl-8">
                    <div class="card">
                        <div class="card-body pt-3">

                          	<!-- Bordered Tabs -->
							<ul class="nav nav-tabs nav-tabs-bordered">
								<li class="nav-item">
									<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
								</li>
				
								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
								</li>
				
								<li class="nav-item">
									<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Change Password</button>
								</li>
							</ul>

                          	<div class="tab-content pt-2">
								
								{% include "users/components/alert.html" %}

								<div class="tab-pane fade show active profile-overview" id="profile-overview">
				
									<h5 class="card-title">{{role}} Profile Details</h5>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label ">Full Name</div>
										<div class="col-lg-9 col-md-8">{{request.user.first_name}} {{request.user.last_name}}</div>
									</div>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Email</div>
										<div class="col-lg-9 col-md-8">{{request.user.email}}</div>
									</div>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Phone Number</div>
										<div class="col-lg-9 col-md-8">(+91) {{request.user.profile.phone_number}}</div>
									</div>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Designation</div>
										<div class="col-lg-9 col-md-8">{{request.user.profile.designation}}</div>
									</div>
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Department</div>
										<div class="col-lg-9 col-md-8">{{request.user.profile.department}}</div>
									</div>

									{% if role == 'Teacher' %}
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Experience</div>
										<div class="col-lg-9 col-md-8">{{request.user.profile.experience}} Years</div>
									</div>

									<div class="row">
										<div class="col-lg-3 col-md-4 label">Subject(s)</div>
										<div class="col-lg-9 col-md-8">
											{% for obj in user.profile.subjects.all %}
												| {{obj.name}} |
											{% endfor %}
										</div>
									</div>
									{% endif %}
				
									<div class="row">
										<div class="col-lg-3 col-md-4 label">Role</div>
										<div class="col-lg-9 col-md-8">{{request.user.role}}</div>
									</div>
				
								</div>
            
								<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
									<form id="staffProfileForm" method="post">
										{% csrf_token %}

										<div class="row mb-3">
											<label for="id" class="col-md-4 col-lg-3 col-form-label">ID</label>
											<div class="col-md-8 col-lg-9">
												<input name="id" type="text" class="form-control" id="id" value="{{request.user.id}}" readonly>
											</div>
										</div>

										<div class="row mb-3">
											<label for="firstName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
											<div class="col-md-8 col-lg-9">
												<input name="first_name" type="text" class="form-control" id="firstName" value="{{request.user.first_name}}">
											</div>
										</div>

										<div class="row mb-3">
											<label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
											<div class="col-md-8 col-lg-9">
												<input name="last_name" type="text" class="form-control" id="lastName" value="{{request.user.last_name}}">
											</div>
										</div>

										<div class="row mb-3">
											<label for="email" class="col-md-4 col-lg-3 col-form-label">Email</label>
											<div class="col-md-8 col-lg-9">
												<input name="email" type="email" class="form-control" id="email" value="{{request.user.email}}">
											</div>
										</div>

										<div class="row mb-3">
											<label for="username" class="col-md-4 col-lg-3 col-form-label">Username</label>
											<div class="col-md-8 col-lg-9">
												<input name="username" type="text" class="form-control" id="username" value="{{request.user.username}}">
											</div>
										</div>

										<div class="row mb-3">
											<label for="phoneNumber" class="col-md-4 col-lg-3 col-form-label">Phone Number</label>
											<div class="col-md-8 col-lg-9">
												<input name="phone_number" type="text" class="form-control" id="phoneNumber" value="{{request.user.profile.phone_number}}">
											</div>
										</div>

										<div class="row mb-3">
											<input type="hidden" id="role" name="role" value="{{role}}">
										</div>	
	
										<div class="text-center">
											<button type="submit" class="btn btn-primary">Save Changes</button>
											<a href="{% url role|lower|add:"-index-view" %}" class="btn btn-secondary">Close</a>
										</div>
										
									</form><!-- End Profile Edit Form -->
								</div> 
            
								<div class="tab-pane fade pt-3" id="profile-change-password">
									<!-- Change Password Form -->
									<form id="changePasswordForm" method="post">
										{% csrf_token %}
										
										<div class="row mb-3">
											<label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="current_password" type="password" class="form-control" id="currentPassword">
											</div>
										</div>
					
										<div class="row mb-3">
											<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="new_password" type="password" class="form-control" id="newPassword">
											</div>
										</div>
					
										<div class="row mb-3">
											<label for="confirmPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
											<div class="col-md-8 col-lg-9">
												<input name="confirm_password" type="password" class="form-control" id="confirmPassword">
											</div>
										</div>
					
										<div class="text-center">
											<button type="submit" class="btn btn-primary">Change Password</button>
											<a href="{% url role|lower|add:"-index-view" %}" class="btn btn-secondary">Close</a>
										</div>
									</form><!-- End Change Password Form -->
								</div>
            
                          	</div><!-- End Bordered Tabs -->
            
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock main %}