{% extends "staff_site.html" %}

{% block aside %}

    <ul class="sidebar-nav" id="sidebar-nav">

        <li class="nav-item text-center">
            <span class="badge text-bg-info w-100 fs-6 p-2">TEACHER PANEL</span>
        </li>

        <li class="nav-item">
            <a class="nav-link " href="">
                <i class="bi bi-grid"></i>
                <span>DASHBOARD</span>
            </a>
        </li>

        <li class="nav-heading">Pages</li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="{% url "teacher-list-user-view" 'student' %}">
                <i class="bi bi-list-task"></i>
                <span>LIST STUDENT'S</span>
            </a>
        </li>

    </ul>

{% endblock aside %}