{% extends "users/hod/hod_base_site.html" %}

{% block title %} Create Subject {% endblock title %}

{% block main %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Create Subject</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "hod-index-view" %}">Home</a></li>
                    <li class="breadcrumb-item active">Create Subject</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">Create Subject</h5>

                            {% include "users/components/alert.html" %}

                            
                            <form id="addSubjectForm" class="row g-3" method="post">
                                {% csrf_token %}

                                <div class="col-12">
                                    <label for="subjectName" class="form-label">Subject Name</label>
                                    <input type="text" class="form-control" id="subjectName" name="name" required>
                                </div>

                                <div class="col-12 text-center">
                                    <button type="submit" class="btn btn-primary">Add Subject</button>
                                    <a href="{% url "hod-index-view" %}" class="btn btn-secondary">Close</a>
                                </div>
                            </form>
            
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock main %}