{% extends "users/hod/hod_base_site.html" %}

{% block title %} Add Teacher {% endblock title %}

{% block main %}

    <main id="main" class="main">

        <div class="pagetitle">
            <h1>Add Teacher</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url "hod-index-view" %}">Home</a></li>
                    <li class="breadcrumb-item active">Add Teacher</li>
                </ol>
            </nav>
        </div>

        <section class="section dashboard">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">

                            <h5 class="card-title">Create Teacher Profile</h5>

                            {% include "users/components/alert.html" %}

                            <form id="addTeacherForm" class="row g-3" method="post">
                                {% csrf_token %}

                                <div class="col-6">
                                    <label for="firstName" class="form-label">First Name</label>
                                    <input type="text" class="form-control" id="firstName" name="first_name" required>
                                </div>

                                <div class="col-6">
                                    <label for="lastName" class="form-label">Last Name</label>
                                    <input type="text" class="form-control" id="lastName" name="last_name" required>
                                </div>

                                <div class="col-6">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>

                                <div class="col-6">
                                    <label for="phoneNumber" class="form-label">Phone Number</label>
                                    <input type="text" class="form-control" id="phoneNumber" name="phone_number" required>
                                </div>

                                <div class="col-12">
                                    <label for="username" class="form-label">Username</label>
                                    <input type="text" class="form-control" id="username" name="username" required>
                                </div>

                                <div class="col-6">
                                    <label for="password" class="form-label">Password</label>
                                    <input type="password" class="form-control" id="password" name="password" required>
                                </div>

                                <div class="col-6">
                                    <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="ConfirmPassword" name="confirm_password" required>
                                </div>

                                <div class="col-12">
                                    <label for="experience" class="form-label">Experience</label>
                                    <input type="text" class="form-control" id="experience" name="experience" placeholder="ex: 0.5,1,1.5..." pattern="^(?:[1-9][0-9]?|[1-9][0-9]?\.[1-9])$" title="Please enter valid experince." required>
                                </div>

                                <div class="col-12">
                                    <label for="subjects" class="form-label">Subjects (hold ctrl to select multiple)</label>
                                    <select id="subjects" class="form-select" name="subjects" multiple>
                                        {% for subject in subjects %}
                                        <option value="{{subject}}">{{subject}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                
                                <div class="col-6">
                                    <label for="designation" class="form-label">Designation</label>
                                    <select id="designation" class="form-select" name="designation" required>
                                        <option value="Professor">Professor</option>
                                        <option value="Ast.Professor">Ast.Professor</option>
                                        <option value="Staff">Staff</option>
                                    </select>
                                </div>

                                <div class="col-6">
                                    <label for="department" class="form-label">Department</label>
                                    <select id="department" class="form-select" name="department">
                                        <option value="Informati">Information Technology</option>
                                        <option value="Computer Science">Computer Science</option>
                                        <option value="Enginnering">Enginnering</option>
                                    </select>
                                </div>
                                
                                <div class=" col-12 text-center">
                                    <button type="submit" class="btn btn-primary">Create Profile</button>
                                </div>
                            </form>
            
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock main %}