{% extends "users/hod/hod_base_site.html" %}

{% block title %} List Subjects {% endblock title %}

{% block main %}

	<main id="main" class="main">

		<div class="pagetitle">
			<h1>List Subjects</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="{% url "hod-index-view" %}">Home</a></li>
					<li class="breadcrumb-item active">List Subjects</li>
				</ol>
			</nav>
		</div>

		<section class="section dashboard">
			<div class="row justify-content-center">
				<div class="col-lg-9">
					<div class="card">
						<div class="card-body">

							<h5 class="card-title">List Subjects</h5>
				
							{% include "users/components/alert.html" %}

							<table class="table datatable">
								<thead>
									<tr>
										<th>ID</th>
										<th>Subject Name</th>
										<th>Action</th>
									</tr>
								</thead>
								<tbody>
								{% for sub in subjects %}
									<tr>
										<td>{{sub.id}}</td>
										<td>{{sub.name}}</td>
										<td>
											
											<a href="{% url "hod-update-subject-view" sub.id %}" class="btn btn-primary"><i class="bi bi-pen"></i></a>
											
											<button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#verticalycentered{{sub.id}}">
												<i class="bi bi-trash"></i>
											</button>
												
											<div class="modal fade" id="verticalycentered{{sub.id}}" tabindex="-1">
												<div class="modal-dialog modal-dialog-centered">
													<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title">Confirm Delete</h5>
														<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
													</div>
													<div class="modal-body">
														Are sure you want to delete <strong>{{sub.id}}: {{sub.name}}</strong> ?
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
														<a href="{% url "hod-delete-subject-view" sub.id %}" class="btn btn-danger">Delete</a>
													</div>
													</div>
												</div>
											</div>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>

						</div>
					</div>
				</div>
			</div>
		</section>

	</main>

{% endblock main %}